<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.student_performance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="my result"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.STUDENT_PERFORMANCE">
        <activity
            android:name=".ExaminerHomeActivity"
            android:exported="true" />
        <activity
            android:name=".AddSubject"
            android:exported="true" />
        <activity
            android:name=".StudentHomeActivity"
            android:exported="true" />
        <activity
            android:name=".AddStudent"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity_student_login"
            android:exported="true" />
        <activity
            android:name=".MainActivity_examiner_login"
            android:exported="true" />
        <activity
            android:name=".MainActivity_admin_login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>